{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ job.title }}</h2>
        <h3 class="card-subtitle mb-3 text-muted">{{ job.company_name }}</h3>

        <div class="job-details">
          <p class="card-text">{{ job.description }}</p>
          <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
          <p class="card-text"><strong>Requirements:</strong> {{ job.requirements }}</p>
          <p class="card-text"><strong>Apply by:</strong> {{ job.app_deadline }}</p>
        </div>

        <!-- Add some spacing -->
        <div class="mt-3">
          <!-- Apply and Back buttons -->
          <a href="{% url 'application' job.id %}" class="btn btn-primary">Apply Now</a>
          <a href="{% url 'job_list' %}" class="btn btn-primary">Back</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
